<ion-header [translucent]="true">
  
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>Product</ion-title>
</ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="text-center">
    <ion-row>
      <ion-col><img src="assets/product/15promax.webp" alt="">
      <p>Iphone15 Promax</p>
    <p>ราคา44,900 บาท</p>
  <ion-button size="large" 
  expand="block"
  color="primary">ซื้อ</ion-button></ion-col>
      <ion-col><img src="assets/product/f23fe.webp" alt="">
        <p>Samsung f23</p>
      <p>ราคา39,900 บาท</p>
    <ion-button size="large" 
    expand="block"
    color="primary">ซื้อ</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  




  <ion-grid class="text-center">
    <ion-row>
      <ion-col><img src="assets/product/ipadair5.webp" alt="">
      <p>Ipadair 5</p>
    <p>ราคา50,500 บาท</p>
  <ion-button size="large" 
  expand="block"
  color="primary">ซื้อ</ion-button></ion-col>
      <ion-col><img src="assets/product/mi-14tpro.webp" alt="">
        <p>mi-14tpro</p>
      <p>ราคา25,,500 บาท</p>
    <ion-button size="large" 
    expand="block"
    color="primary">ซื้อ</ion-button></ion-col>
    </ion-row>
  </ion-grid>






  <ion-grid class="text-center">
    <ion-row>
      <ion-col><img src="assets/product/mipad5.webp" alt="">
      <p>mipad5</p>
    <p>ราคา50,800 บาท</p>
  <ion-button size="large" 
  expand="block"
  color="primary">ซื้อ</ion-button></ion-col>
      <ion-col><img src="assets/product/s24.webp" alt="">
        <p>s24</p>
      <p>ราคา30,000 บาท</p>
    <ion-button size="large" 
    expand="block"
    color="primary">ซื้อ</ion-button></ion-col>
    </ion-row>
  </ion-grid>




  
  <ion-grid class="text-center">
    <ion-row>
      <ion-col><img src="assets/product/ts9.webp" alt="">
      <p>ts9</p>
    <p>ราคา15,800 บาท</p>
  <ion-button size="large" 
  expand="block"
  color="primary">ซื้อ</ion-button></ion-col>
      <ion-col><img src="assets/product/vivo-y20.png" alt="">
        <p>vivo-y20</p>
      <p>ราคา21,000 บาท</p>
    <ion-button size="large" 
    expand="block"
    color="primary">ซื้อ</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
